.container {
    max-width: 1296px;
    height: auto;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
}



/*стилізація схожих кнопок та силок*/
.wrapper-list-link {
    font-size: 16px;
    padding: 10px 12px;
    font-weight: 700;
    line-height: 120%;
    font-family: Quicksand;
    display: block;
    border-radius: 4px;
    background: #0F8277;
    color: #EEE;
    width: fit-content;
}

.link-color {
    color: #0F8277;
    background-color: white;
}

.link-style {
    background-color: #DBF3ED;
    color: #0F8277;
    border: 2px solid #0F8277;
    padding: 8px 10px;
}


.link-learn-more {
    font-family: Cabin;
    font-weight: 500;
    letter-spacing: 0.72px;
    font-size: 18px;
}

.price__style__link {
    padding: 8px 10px;
    border: 2px solid #FFF;
}

.btn-style {
    border: none;
    width: 196px;
}



/*header*/
.header {
    padding-top: 30px;
    margin-bottom: 80px;
    position: relative;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-div-wrapper-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 44px;
}

.wrapper-left-link {
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.64px;
    font-family: Quicksand;
}

.wrapper-left-div {
    position: relative;
}

.wrapper-left-div-btn {
    color: #EEE;
    font-family: Quicksand;
    background-color: #0F8277;
    font-size: 16px;
    padding: 10px 28px 10px 12px;
    font-weight: 700;
    line-height: 120%;
    border-radius: 4px;
    border: none;
}

.wrapper-left-div-btn::after {
    color: #EEE;
    content: "";
    background-image: url(../images/frame.svg);
    background-size: 8px 14px;
    background-repeat: no-repeat;
    background-position: top 3px left 8px;
    width: 18px;
    height: 15px;
    position: absolute;
}

.section-wrap {
    display: none;
}

.section-menu {
    padding: 16px 12px 33px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    width: 384px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    top: 43px;
    left: -2px;
}

.wrapper-left-div:hover .section-wrap {
    display: block;
}

.nav-menu-list {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-direction: column;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.list-style::after {
    content: "";
    display: block;
    border-bottom: 1px solid #000;
    border-radius: 100px;
    background-color: #000;
    position: absolute;
    width: 360px;
    top: 111px;
}

.text-style {
    font-family: Quicksand;
    margin-top: 0;
    margin-bottom: 0;
}

.title-style {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: Quicksand;
}

.title-style-menu {
    margin-top: 40px;
}

.nav-menu-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

.wrapper-left {
    position: relative;
}

.wrapper-form-input {
    border: 1px solid #5C5C5C;
    padding: 8px 0 8px 12px;
    line-height: 120%;
    width: 330px;
}

.input {
    border-radius: 4px;
    outline: none;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
}

.input:focus {
    color: #000;
}

.input,
.label,
.wrapper-left-div-btn,
.form-btn,
.link-price:hover {
    cursor: pointer;
}

.form-btn {
    background-image: url(../images/group.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-color: #0F8277;
    background-position: center;
    border: 1px solid #5C5C5C;
    width: 36px;
    height: 36px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
}

.header-div-wrapper-right {
    font-family: Quicksand;
    display: flex;
    justify-content: space-between;
    gap: 104px;
    align-items: center;
}

.left-nav-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.nav-item-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.wrapper-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.header-section {
    border-radius: 12px;
    background-color: #DBF3ED;
    flex-grow: 1;
    margin-top: 31px;
    background-image: url(../images/hero-img.png);
    background-repeat: no-repeat;
    background-position: right 50px top 39px;
}

.header-section-div {
    padding: 170px 674px 180px 110px;
}

.section-style {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.header-section-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 56px;
    font-family: Quicksand;
    width: 100%;
    font-weight: 700;
    line-height: 120%;
}

.header-section-text {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Quicksand;
    font-size: 22px;
    width: 482px;
    font-weight: 600;
    line-height: 120%;
}

.header-section-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
}


/*main*/
.main-section-training {
    margin-bottom: 80px;
}

.title-trainig {
    color: #0F8277;
    font-family: Quicksand;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    line-height: 120%;
}

.subtitle-training {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.subtitle-category {
    margin-bottom: 12px;
}

.div-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-direction: column;
}

.text-training {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
}

.list-training {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    gap: 15px;
}

.item-training {
    border: 2px solid rgb(211, 211, 211, 0.5);
    border-radius: 8px;
}

.img-program {
    width: 416px;
    height: 270px;
}

.img-style {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.div-training {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 210px;
}

.div-program {
    width: 384px;
}

.title-img-training {
    margin-top: 0;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 16px;
}

.training-style {
    display: flex;
    gap: 11px;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.title-item-training {
    margin-bottom: 0;
    margin-top: 0;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}

.item-text-training {
    margin: 0;
    color: #0F8277;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.img-course {
    width: 306px;
    height: 270px;
}

.div-course {
    width: 274px;
}

.link-more {
    color: #0F8277;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}

.link-more-text {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

.category-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.category-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    width: 306px;
}

.category-subtitle {
    margin-bottom: 10px;
}

.category-students {
    margin-bottom: 0;
}

.div-partners {
    background-color: #DBF3ED;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 80px;
}

.subtitle-partners {
    text-align: center;
    width: 871px;
    margin-bottom: 60px;
}

.div-partners-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.business-section {
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    gap: 72px;
    min-height: 412px;
}

.business-div-text {
    width: 636px;
    padding: 68px 0 68px 0;
}

.business-text {
    width: 568px;
}

.business-list-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 588px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    grid-auto-columns: minmax(196px, auto);
    grid-auto-rows: minmax(136px, auto);
    grid-row-gap: 2px;
}

.business-list-item {
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-column {
    border-right: none;
}

.img-row {
    border-bottom: none;
}

.price-div {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #DBF3ED;
}

.price-title {
    margin-bottom: 40px;
    text-align: center;
}

.price-div-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.price-div-item {
    border-radius: 24px;
    border: 1px solid #0F8277;
    background-color: #FDFDFD;
    padding: 56px;
    min-width: 416px;
    position: relative;
}

.price-div-plan {
    width: 304px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 286px;
}

.price-div-plan::after {
    content: "";
    border-radius: 80px;
    border-bottom: 2px solid #0F8277;
    height: 2px;
    width: 304px;
    position: absolute;
    top: 389px;
}

.price__style__border::after {
    border-bottom: 2px solid #FFF;
}

.price-div-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 27px;
}

.price__style__text {
    margin-bottom: 0;
    text-align: center;
    color: #FFF;
}

.fixed-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
}

.price {
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 0;
    margin-top: 0;

}

.price-mo {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
}

.link-price {
    border: none;
    width: 196px;
}

.price-div-bullit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    margin-top: 96px;
    padding-left: 0;
}

.price-bullit-item {
    position: relative;
}

.bullit-text {
    margin-bottom: 0;
    margin-left: 32px;
    width: 264px;
}

.bullit-text::before {
    content: "";
    background-image: url(../images/bullit.svg);
    background-size: 16px 16px;
    background-position: top 0 left 0;
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
}

.text-price {
    margin-bottom: 0;
    text-align: center;
}

.price__style__item {
    background-color: #0F8277;
}

.price__style {
    color: #FFF;
}


.price__style__bullit {
    color: #FFF;
}

.price__style__bullit::before {
    background-image: url(../images/bullit-white.svg);
}

.students-section {
    margin-bottom: 77px;
}

.students-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    grid-template-areas:
        "one two two three"
        "four two two five"
        "six seven eight nine";
}

.students-img {
    width: 306px;
    height: 211px;
}

.img-one {
    grid-area: one;
}

.students-img-two {
    width: 636px;
    height: 445px;
    grid-area: two;
}

.img-three {
    grid-area: three;
}

.img-four {
    grid-area: four;
}

.img-five {
    grid-area: five;
}

.img-six {
    grid-area: six;
}

.img-seven {
    grid-area: seven;
}

.img-eight {
    grid-area: eight;
}

.img-nine {
    grid-area: nine;
}

.form__div {
    background-image: url(../images/image-back.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: auto;
}

.form__section {
    border-radius: 24px;
    background-color: #DBF3ED;
    max-width: 565px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.form::placeholder {
    color: #8E8E8E;
}

.form__div__style {
    background-color: rgba(0, 0, 0, 0.60);
    padding: 65px 0 48px 0;
}

.form__section__text {
    text-align: center;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    flex-direction: column;
}

.input-box {
    min-height: 80px;
}

.label {
    margin-bottom: 8px;
    font-family: Quicksand;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    display: block;
}

.input-form {
    line-height: 24px;
    padding: 12px;
    width: 505px;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background-color: #FDFDFD;
    display: block;
    color: red;
}

.textarea {
    resize: none;
    min-height: 104px;
}



/*footer*/
.footer {
    padding: 64px 0 64px 0;
}

.footer-div {
    max-width: 306px;
}

.footer-text {
    margin-bottom: 0;
    margin-top: 16px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
    align-items: end;
}

.footer-div-icons {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.footer-icons-link {
    width: 32px;
    height: 32px;
}

.footer-text-text {
    margin-bottom: 0;
}